
<launch>
    <param name="use_sim_time" value="false"/>

    <!-- 设置当前机器人命名空间 -->
    <arg name="namespace1" default="robot1"/>

    <node ns="$(arg namespace1)" name="single_agent_static_obstacle_node" pkg="multi_agent_control" type="single_agent_static_obstacle_node" output="screen" respawn="true">
        <remap from="odom" to="/odom"/>
        <remap from="cmd_vel" to="/cmd_vel"/>
        <param name="odom_frame"  value="$(arg namespace1)_odom"/>
        <param name="base_footprint_frame"  value="$(arg namespace1)_base_footprint"/>

    </node>
    
    
    <arg name="namespace2" default="robot2"/>

    <node ns="$(arg namespace2)" name="single_agent_static_obstacle_node" pkg="multi_agent_control" type="single_agent_static_obstacle_node" output="screen" respawn="true">
       	<remap from="odom" to="/odom"/>
        <remap from="cmd_vel" to="/cmd_vel"/>
        <param name="odom_frame"  value="$(arg namespace2)_odom"/>
        <param name="base_footprint_frame"  value="$(arg namespace2)_base_footprint"/>
    </node>

    
    <arg name="namespace4" default="robot4"/>

    <node ns="$(arg namespace4)" name="single_agent_static_obstacle_node" pkg="multi_agent_control" type="single_agent_static_obstacle_node" output="screen" respawn="true">
       	<remap from="odom" to="/odom"/>
        <remap from="cmd_vel" to="/cmd_vel"/>
        <param name="odom_frame"  value="$(arg namespace4)_odom"/>
        <param name="base_footprint_frame"  value="$(arg namespace4)_base_footprint"/>
    </node>
</launch>
